{% extends "layout.html" %}

{% block title %}
PROJECTS
{% endblock %}

{% block content %}
    <div class="container py-4">
        <!-- Projects Cards -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for nika in nikass %}
            <div class="col">
                <div class="text-white shadow-lg" data-aos="fade-up" data-aos-duration="1000" style="max-width: 350px;">
                    <!-- Image wrapped in a clickable link to the live URL -->
                    <a href="{{ nika.live_url }}" target="_blank">
                        <img src="{{ nika.image.url }}" class="card-img-top rounded-top" alt="{{ nika.name }}" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <br>
                        <h3 class="card-title text-xl font-bold mb-2">{{ nika.name }}</h3>
                        <p class="card-text mb-3">{{ nika.description|truncatewords:25 }}</p>

                        <!-- Buttons for GitHub and Live Url -->
                        <div class="d-flex flex-column gap-2">
                            <a href="{{ nika.live_url }}" class="btn btn-primary" style="background-color: #ff48a5; border-color: #00FFF0; color: #FFFFFF; width: 100%;" data-aos="fade-up" data-aos-delay="400">Visit Site</a>
                            <a href="{{ nika.github_url }}" class="btn btn-primary" style="background-color: #808080; border-color: #D3D3D3; color: #FFFFFF; width: 100%;" data-aos="fade-up" data-aos-delay="400">GitHub</a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
